<!DOCTYPE html>
<html>

<head>
    {{template "common_header.html"}}
    <style>
        #editor {
            /** Setting height is also important, otherwise editor wont showup**/
            height: 300px;
        }
    </style>
</head>

<body>
    {{template "navbar.html"}}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                 <button type="button" class="btn btn-light" onclick="javascript:save();">Save</button>
                 <button type="button" class="btn btn-light" onclick="javascript:reload();">Reload server</button>
               
            </div>
            <div class="panel-body">
                <div id="editor"></div>
            </div>
        </div>
    </div>

    {{template "common_footer.html"}}

    <script src="assets/js/js-yaml.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="assets/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="assets/js/ace/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
    <script src="assets/js/config.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>