<!DOCTYPE html>

<head>
    {{template "header.html" "Logs"}}
</head>


<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">
    <div class="wrapper">
        {{template "navbar.html" "logs"}}

        <div class="page-wrapper">
            <!-- Header -->
            <header class="main-header " id="header">
                <nav class="navbar navbar-static-top navbar-expand-lg">
                    <!-- Sidebar toggle button -->
                    <button id="sidebar-toggler" class="sidebar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                </nav>
            </header>

            <div class="content-wrapper">
                <div class="content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-default" data-scroll-height="1000"
                                style="height: 1000px; overflow: hidden;">
                                <div
                                    class="card-header justify-content-between align-items-center card-header-border-bottom">
                                    <h2>Logs</h2>
                                </div>
                                <div style="position: relative; overflow: hidden; width: auto; height: 100%;">
                                    <div class="card-body"
                                        style="overflow: hidden; width: auto; height: 100%; overflow-y: scroll; display: flex; flex-direction: column-reverse;">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="width: 5%">Time</th>
                                                    <th scope="col" style="width: 5%">Type</th>
                                                    <th scope="col" style="width: 15%">Component</th>
                                                    <th scope="col" style="width: 40%">Message</th>
                                                    <th scope="col" style="width: 35%">Properties</th>
                                                </tr>
                                            </thead>
                                            <tbody id="log_table">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="slimScrollBar"
                                        style="background: rgb(153, 153, 153) none repeat scroll 0% 0%; width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 242.986px;">
                                    </div>
                                    <div class="slimScrollRail"
                                        style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;">
                                    </div>
                                </div>
                                <div class="mt-3"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="footer mt-auto">
                    <div class="copyright bg-white">
                    </div>
                </footer>
            </div>

            {{template "footer.html"}}

            <script src="assets/js/logs.js"></script>
            <script>
                Distribyted.logs.loadView();
            </script>
</body>

</html>